name: Multi-Steps at jobs
on: 
  workflow_dispatch:

jobs:
  job-1:
    runs-on: ubuntu-latest
    steps:
      - run: |
          npm install
          npm run build

        working-directory: ./temp
        shell: bash # pwsh, cmd, powershell, python

      - run:  print %ENV
        shell: perl {0} 
